<h1 md-dialog-title>{{ title }}</h1>
<div md-dialog-content>
    <table>
        <tr>
            <td>Create new:</td>
            <td>
                <select (change)="changeItemToBeCreated($event)">
                    <option *ngFor="let item of createItems" [value]="item.id">{{item.key}}</option>
                </select>
            </td>
        </tr>
        <br>
        <tr [hidden]="item != PROJECT && checkIfAdmin()">
            <td>
                <md-input-container>
                    <input mdInput placeholder="Project Name" #newprojectname>
                </md-input-container>
            </td>
        </tr>
        <br>
        <tr [hidden]="item != PROJECT && checkIfAdmin()">
            <td>Belongs to:</td>
            <td>
                <select #client>
                    <option *ngFor="let client of clients" [value]='client.id'>{{ client.clientName }}</option>
                </select>
            </td>
        </tr>
        <br>
        <tr [hidden]="item != TASK">
            <td>
                <md-input-container>
                    <input mdInput #description placeholder="Description">
                </md-input-container>
            </td>
        </tr>
        <br>
        <tr [hidden]="item != TASK">
            <td>Belongs to:</td>
            <td>
                <select #project>
                    <option *ngFor="let project of projects" [value]='project.id'>{{ project.projectName }}</option>
                </select>
            </td>
        </tr>
        <tr [hidden]="item != CLIENT && checkIfAdmin()" >
            <td>
                <md-input-container>
                    <input mdInput #clientName placeholder="Client">
                </md-input-container>
            </td>
        </tr>
    </table>
    <br>
</div>
<div md-dialog-actions>
    <button type="button" md-button (click)="validateForm(description, newprojectname, clientName, project, client)">OK</button>
    <button type="button" md-button (click)="dialogRef.close()">Cancel</button>
</div>
