<h1 md-dialog-title>{{ title }}</h1>
<div md-dialog-content>
    <table>
        <tr>
            <td><!-- 
                <md-input #description placeholder="Description" [value]="selectedDescription"></md-input> -->
                <md-input placeholder="Description" [(ngModel)]="selectedDescription">{{selectedDescription}}</md-input>
            </td>
        </tr>
        <br>
        <tr>
            <td>Project:</td>
            <td>
                <select #project (change)="projectDropdown(project.value)">
                    <option *ngFor="let project of projects" [value]='project.id' [selected]='project.id === selectedProject'>{{ project.projectName }}</option>
                </select>
            </td>
        </tr>
        <br>
        <tr>
            <td>Task:</td>
            <td>
                <select #task (change)="taskDropdown(task.value)">
                    <option *ngFor="let task of tasks" [value]="task.id" [selected]='task.id === selectedTask'>{{ task.taskDescription }}</option>
                </select>
            </td>
        </tr>
        <br>
        <tr>
            <td>
                <md-input placeholder="Date" #date [value]="selectedDate"></md-input>
            </td>
        </tr>
        <br>
        <tr>
            <td>
                <md-input placeholder="Start Time" #startTime [value]="selectedStartTime"></md-input>
            </td>
            <td>&nbsp;</td>
            <td>
                <md-input placeholder="End Time" #endTime [value]="selectedEndTime"></md-input>
            </td>
        </tr>
    </table>
    <br>
</div>
<div md-dialog-actions>
    <button type="button" md-button (click)="getDescription(selectedDescription);getStartDateTime(date.value,startTime.value);getEndDateTime(date.value,endTime.value);ok();">OK</button>
    <button type="button" md-button (click)="dialogRef.close()">Cancel</button>
</div>
