<h1 md-dialog-title>{{ title }}</h1>
<div md-dialog-content>
    <table>
        <tr>
            <td>
                <md-input name="description" #description placeholder="Description" [value]="selectedDescription"></md-input>
            </td>
        </tr>
        <br>
        <tr>
            <td>Project:</td>
            <td>
                <select>
                    <option *ngFor="let project of projects" name="project" [value]="selectedProject">{{ project.projectName }}</option>
                </select>
            </td>
        </tr>
        <br>
        <tr>
            <td>Task:</td>
            <td>
                <select>
                    <option *ngFor="let task of tasks" name="task" [ngValue]="task">{{ task.taskDescription }}</option>
                </select>
            </td>
        </tr>
        <br>
        <tr>
            <td>
                <md-input placeholder="Date" name="date" #date [value]="selectedDate"></md-input>
            </td>
        </tr>
        <br>
        <tr>
            <td>
                <md-input placeholder="Start Time" name="starttime" #startTime [value]="selectedStartTime"></md-input>
            </td>
            <td>&nbsp;</td>
            <td>
                <md-input placeholder="End Time" name="endtime" #endTime [value]="selectedEndTime"></md-input>
            </td>
        </tr>
    </table>
    <br>
</div>
<div md-dialog-actions>
    <button type="button" md-button (click)="getNewDescription(description.value);getNewTask(task);getNewProject(project);getNewStartDateTime(date.value,startTime.value);getNewEndDateTime(date.value,endTime.value);updateEntry();dialogRef.close(true)">OK</button>
    <!-- <button type="button" md-button (click)="createEntry();dialogRef.close(true)">OK</button> -->
    <button type="button" md-button (click)="dialogRef.close()">Cancel</button>
</div>
