<div class="layout-row">
    <md-chip-list>
        <md-chip>Worked hours</md-chip>
    </md-chip-list>
</div>
<br />
<div class="layout-row">
    <span class="ftt-value flex">Week {{weekNumber}}</span>
    <span class="ftt-value ftt-right">{{totalHoursWorkedW}}</span>
</div>
<div class="layout-row">
    <span class="ftt-value flex">{{currentMonth}}</span>
    <span class="ftt-value ftt-right">{{totalHoursWorkedM}}</span>
</div>
<div class="layout-row">
    <span class="ftt-value flex">{{total}}</span>
    <span class="ftt-value ftt-right">{{totalTimeSpent}}</span>
</div>
