<div>
    <div class="layout-row">
        <span class="flex">Hours worked this week</span>
        <span class="ftt-value ftt-right">{{totalHousWorkedWeek}}</span>
    </div>
    <div class="layout-row">
        <span class="flex">Hours worked this month</span>
        <span class="ftt-value ftt-right">{{totalHousWorkedMonth}}</span>
    </div>
    <hr/>
    <div class="layout-row">
        <span class="flex">Remaining vacation days</span>
        <span class="ftt-value ftt-right">{{totalAvailableVacationDays}}</span>
    </div>
</div>
<hr/>
<app-export></app-export>
<hr/>
<app-search></app-search>