<div>
    <div class="layout-row">
        <span class="flex">Hours worked <span class="ftt-value">this week {{weekNumber}}</span>:</span>
        <span class="ftt-value ftt-right">{{totalHoursWorkedW}}</span>
    </div>
    <div class="layout-row">
        <span class="flex">Hours worked on <span class="ftt-value">{{currentMonth}}</span>:</span>
        <span class="ftt-value ftt-right">{{totalHoursWorkedM}}</span>
    </div>
    <hr/>
    <div class="layout-row">
        <span class="flex"><span class="ftt-value">Remaining </span>vacation days:</span>
        <span class="ftt-value ftt-right">{{totalAvailableVacationDays}}</span>
    </div>
</div>