<md-toolbar>
    <button md-raised-button color="primary" (click)="openDialog()">NEW ENTRY</button>
    <span class="flex"></span>
    <span color="primary">
        <select class="clickable-icon" (change)="changeRowLimits($event);">
            <option *ngFor="let limit of limits" [value]=limit.value>{{limit.key}}</option>
        </select>
    </span>
</md-toolbar>
<md-toolbar>
    <md-chip-list>
        <span class="flex"></span>
        <span color="primary" class="filter-position">
            <md-select multiple placeholder="Project" [(ngModel)]="selectedProjects" (change)="projectsSelectedPerDefault();" id="projectsFilter">
                <md-option class="data-filter-header clickOnAllProject" [value]="-1">All</md-option>
                <md-option class="data-filter-header" *ngFor="let item of projects" [value]='item.id'>{{ item.projectName }}</md-option>
            </md-select>
            <md-select multiple placeholder="Client" [(ngModel)]="selectedClients" (change)="clientsSelectedPerDefault();" id="clientsFilter">
                <md-option class="data-filter-header clickOnAllClient" [value]="-1">All </md-option>
                <md-option class="data-filter-header" *ngFor="let item of clients" [value]='item.id'>{{ item.clientName }}</md-option>
            </md-select>
            <md-select multiple placeholder="Task" [(ngModel)]="selectedTasks" (change)="tasksSelectedPerDefault();" id="tasksFilter">
                <md-option class="data-filter-header clickOnAllTask" [value]="-1">All</md-option>
                <md-option class="data-filter-header" *ngFor="let item of tasks" [value]='item.id'> {{ item.taskDescription }}</md-option>
            </md-select>
            <span [hidden]="!isAdmin">
                <md-select placeholder="User" [(ngModel)]="selectedUser" (change)="displayEntriesByUser();" id="userFilter">
                    <md-option class="data-filter-header clickOnAllUsers" [value]="-1">All</md-option>
                    <md-option class="data-filter-header" *ngFor="let item of users" [value]='item.id'> {{ item.userName }}</md-option>
                </md-select>
            </span>
            <md-select placeholder="Billable" [(ngModel)]="selectedBillable" (change)="displayEntriesByBillable();" id="billableFilter">
                <md-option class="data-filter-header clickOnAll" [value]="-1">All</md-option>
                <md-option class="data-filter-header" *ngFor="let item of billables" [value]='item.id'> {{ item.key }}</md-option>
            </md-select>&nbsp;
        </span>
    </md-chip-list>
</md-toolbar>
<md-toolbar>
    <md-chip-list>
        <span color="primary" class="filter-position">
            <md-select placeholder="Sort by Column" [(ngModel)]="selectedColumn" (change)="updateSortingSelection();" id="sortingColumn">
                <md-option class="data-filter-header" *ngFor="let item of columns" [value]='item.id'>{{ item.key }}</md-option>
            </md-select>
            <md-select placeholder="Order By" [(ngModel)]="selectedSort" (change)="updateSortingSelection();" id="sortingSort">
                <md-option class="data-filter-header" *ngFor="let item of sorts" [value]='item.id'>{{ item.key }}</md-option>
            </md-select>
        </span>
    </md-chip-list>
    <span class="flex"></span>
    <md-input-container>
        <input mdInput id="search" value="" (keydown)="searchKeyDown($event)" #search placeholder="Search" [(ngModel)]="searchTerm">
    </md-input-container>
    <md-icon class="material-icons app-input-icon clickable-icon search" (click)="loadEntries();">search</md-icon>
</md-toolbar>
<ngx-datatable #mydatatable class="material striped" [scrollbarH]="true" [rows]="items" [columnMode]="'force'" [headerHeight]="50"
    [footerHeight]="50" [sortType]="'multi'" [selected]="selected" [selectionType]="'single'" [limit]="limit" [count]="count"
    (select)='selectEntry($event)'>
    <ngx-datatable-column name="Description" sortable>
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
            <span hot-table class="clickable-icon inline-field-width" title="Click to edit" (click)="clickOnFirstChild($event, row, '-description');"
                *ngIf="!editing[row.$$index + '-description']">{{ row.description }}</span>
            <input id="{{row.cellvalue + row.$$index}}" class="input-field description" (blur)="updateValue($event, 'description', value, row);"
                (keydown)="datatableKeyDown($event, 'description', value, row)" *ngIf="editing[row.$$index + '-description']"
                type="text" [value]="row.description" />
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Project Name" sortable>
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
            <span class="clickable-icon inline-field-width" title="Double click to select" (click)="setSelectFocus($event, row, '-project', 'select');"
                *ngIf="!editing[row.$$index + '-project']">
                {{row.projectName}}
            </span>
            <select class="select-field" *ngIf="editing[row.$$index + '-project']" (blur)="removeSelectFocus(row,'-project')" (change)="updateValue($event, 'project', value, row);">
                <option *ngFor="let project of projects" [value]="project.id" [selected]="project.id == row.project.id ? 'selected':''">{{ project.projectName}}</option>
            </select>
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Client Name" sortable>
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
            <span class="clickable-icon inline-field-width" title="Double click to select" (click)="setSelectFocus($event, row, '-client', 'select');"
                *ngIf="!editing[row.$$index + '-client']">
                {{row.clientName}}
            </span>
            <select class="select-field" *ngIf="editing[row.$$index + '-client']" (blur)="removeSelectFocus(row,'-client')" (change)="updateValue($event, 'client', value, row)">
                <option *ngFor="let client of clients" [value]="client.id" [selected]="client.id == row.client.id ? 'selected':''">{{ client.clientName}}</option>
            </select>
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Task Description" sortable>
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
            <span class="clickable-icon inline-field-width" title="Double click to select" (click)="setSelectFocus($event, row, '-task', 'select');"
                *ngIf="!editing[row.$$index + '-task']">
                {{row.taskDescription}}
            </span>
            <select class="select-field" *ngIf="editing[row.$$index + '-task']" (blur)="removeSelectFocus(row,'-task')" (change)="updateValue($event, 'task', value, row)">
                <option *ngFor="let task of tasks" [value]="task.id" [selected]="task.id == row.task.id ? 'selected':''">{{ task.taskDescription }}</option>
            </select>
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Entry Date" sortable>
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
            <span class="clickable-icon inline-field-width" title="Click to edit" (click)="clickOnFirstChild($event, row, '-date');"
                *ngIf="!editing[row.$$index + '-date']">
                {{ row.entryDate }}</span>
            <input id="{{row.cellvalue + row.$$index}}" class="entryDate" (blur)="updateValue($event, 'date', value, row);removeSelectFocus(row,'-date')"
                (keydown)="datatableKeyDown($event, 'date', value, row)" *ngIf=" editing[row.$$index +
                '-date']" type="text" [value]="value" />
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Time Spent" sortable>
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
            <span class="clickable-icon inline-field-width" title="Click to edit " (click)="clickOnFirstChild($event, row, '-timeSpent');"
                *ngIf="!editing[row.$$index + '-timeSpent'] " [ngClass]="{'colored': row.isColored === true}">
                {{ row.timeSpent }}
            </span>
            <input id="{{row.cellvalue + row.$$index}}" class="input-field timeSpent" (blur)="updateValue($event, 'timeSpent', value, row);removeSelectFocus(row,'-timeSpent')"
                (keydown)="datatableKeyDown($event, 'timeSpent', value, row)" *ngIf="editing[row.$$index + '-timeSpent']
            " type="text " [value]="value " />
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Actions" sortable>
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
            <div [hidden]="!isSelected(row)">
                <div [hidden]="editMode">
                    <span (click)="openEditDialog(row)">
                        <md-icon class="clickable-icon">description</md-icon>
                    </span>
                    <span (click)="openDeleteDialog(row)">
                        <md-icon class="clickable-icon">delete_forever</md-icon>
                    </span>
                </div>
            </div>
        </ng-template>
    </ngx-datatable-column>
</ngx-datatable>