<h1 md-dialog-title>{{ title }}</h1>
<div md-dialog-content class="hide-dialog-scrollbar" (keydown)="userDropdown(userprofile.value);deleteUser();keyDownFunction($event);">
  <table>
    <tr>
      <td>User: </td>
      <br>
      <td>
        <select #userprofile>
          <option *ngFor="let user of users" [value]='user.id'>{{ user.userName }}</option>
        </select>
      </td>
    </tr>
  </table>
</div>
<div md-dialog-actions>
  <button type="button" md-button (click)="userDropdown(userprofile.value);deleteUser();">OK</button>
  <button type=" button " md-button (click)="dialogRef.close() ">Cancel</button>
</div>