<h1 mat-dialog-title>{{ title }}</h1>
<div mat-dialog-content class="hide-dialog-scrollbar">
        <table>
            <tr>
                <td>
                    <label>
                        Password length should be greater than 7.
                    </label>
                    <br>
                    <div class="form-group">
                        <mat-form-field>
                            <input matInput type="password" placeholder="Current Password" class="form-control" name="currentPassword" [(ngModel)]="model.currentPassword" #currentPassword="ngModel">
                        </mat-form-field>
                    </div>
                </td>
            </tr>
            <br>
            <tr>
                <td>
                    <div class="form-group">
                        <mat-form-field>
                            <input matInput type="password" placeholder="New Password" class="form-control" name="newPassword" [(ngModel)]="model.newPassword" #newPassword="ngModel" minlength="7">
                        </mat-form-field>
                    </div>
                </td>
            </tr>
            <br>
            <tr>
                <td>
                    <div class="form-group">
                        <mat-form-field>
                            <input matInput type="password" placeholder="Confirm Password" class="form-control" name="confirmPassword" [(ngModel)]="model.confirmPassword" #confirmPassword="ngModel" >
                        </mat-form-field>
                    </div>
                </td>
            </tr>
        </table>
        <label>After changing your password, you will be redirected to Login !</label>
        <br>
        <div class="form-group">
            <button mat-button click="ok();">OK</button>
            <button mat-button (click)="dialogRef.close()">Cancel</button>
        </div>
</div>
