<div class="flex-container" fxLayout="row" fxLayoutAlign="center center">
    <md-card class="app-input-section">
        <p>
            <md-input #username>
                <md-placeholder>
                    <md-icon class="material-icons app-input-icon">face</md-icon><span>Username</span>
                </md-placeholder>
            </md-input>
        </p>
        <p>
            <md-input #password type="password" maxlength="50">
                <md-placeholder>
                    <md-icon class="material-icons app-input-icon">security</md-icon>Password
                </md-placeholder>
            </md-input>
        </p>
        <button md-button (click)="getUsernamePassword(username.value,password.value)">Login</button>

        <!-- <md-icon class="material-icons">account_circle</md-icon> -->
    </md-card>
    </div>  