<md-card class ="app-input-section">
    <form name="form" (ngSubmit)="f.form.valid && ok()" #f="ngForm" novalidate>
        <div class="form-group">
            <md-input-container>
                <input mdInput type="text" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel" required>
                <div *ngIf="f.submitted && username.invalid" class="invalid-feedback">
                    <div *ngIf="username.errors.required">Please enter your username</div>
                </div>
                <md-placeholder>
                    Username
                </md-placeholder>
            </md-input-container>
        </div> 
        <div class="form-group">
            <md-input-container>
            <label for="password">Password</label>
            <input mdInput type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required/>
            <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
                <div *ngIf="password.errors.required">Please enter your password</div>
            </div>
            <md-placeholder>
                Password
            </md-placeholder>
        </md-input-container>
        </div>
        <div class="form-group">
            <button md-button  click>Login</button>
        </div>
    </form>
</md-card>