<div fxLayout="column" fxLayoutAlign="center center">
    <md-card class="app-input-section">
        <p>
            <md-input-container>
                <input mdInput #username>
                <md-placeholder>
                    <md-icon class="material-icons app-input-icon">face</md-icon>username
                </md-placeholder>
            </md-input-container>
            <br />
            <md-input-container>
                <input mdInput #password type="password" maxlength="50">
                <md-placeholder>
                    <md-icon class="material-icons app-input-icon">security</md-icon>current password
                </md-placeholder>
            </md-input-container>
            <br />
            <md-input-container>
                <input mdInput #newPassword type="password" maxlength="50">
                <md-placeholder>
                    <md-icon class="material-icons app-input-icon">security</md-icon>new password
                </md-placeholder>
            </md-input-container>
            <br />
            <md-input-container>
                <input mdInput #confirmPassword type="password" maxlength="50">
                <md-placeholder>
                    <md-icon class="material-icons app-input-icon">security</md-icon>confirm password
                </md-placeholder>
            </md-input-container>
            <br />
            <button md-button (click)="cancel()">Cancel</button>
            <button md-button (click)="changePassword(username.value,password.value,newPassword.value,confirmPassword)">OK</button>
        </p>
    </md-card>
</div>