<md-grid-list cols="6" [style.background]="'lightblue'">
    <md-grid-tile colspan="2" rowspan="1" [style.background]="'lightgrey'">
        <md-card>
            <h4>{{title}}</h4>
        </md-card>
    </md-grid-tile>
    <md-grid-tile colspan="4" rowspan="1" [style.background]="'lightgreen'">
        <app-login></app-login>
    </md-grid-tile>
    <md-grid-tile colspan="6" [style.background]="'lightpink'">
        <app-date></app-date>
    </md-grid-tile>
    <md-grid-tile colspan="4" rowspan="5" [style.background]="'brown'">
        <app-entry></app-entry>
    </md-grid-tile>
    <md-grid-tile colspan="2" rowspan="5">
        <app-sidebar></app-sidebar>
    </md-grid-tile>
</md-grid-list>
