<div (click)="$event.preventDefault()">
    <tabset [justified]="true">
        <tab heading="Hours">
            <tabset [vertical]="true" type="pills">
                <tab heading="This week">
                    <span class="result">12</span>
                </tab>
                <tab heading="This month">
                    <span class="result">50</span>
                </tab>
            </tabset>
        </tab>
        <tab heading="Vacations day">
            <tabset [vertical]="true" type="pills">
                <tab heading="Taken">
                    <span class="result">6</span>
                </tab>
                <tab heading="Rest">
                    <span class="result">17</span>
                </tab>
            </tabset>
        </tab>
    </tabset>
    <!-- Single button with keyboard nav -->
    <!-- <div class="btn-group " dropdown keyboardNav="true">
        <button id="simple-btn-keyboard-nav" type="button" class="btn-sidebar btn btn-primary" dropdownToggle>
            Export&nbsp;<span class="caret"></span>
        </button>
        <ul class="dropdown-menu" dropdownMenu role="menu" aria-labelledby="simple-btn-keyboard-nav">
            <li role="menuitem"><a class="dropdown-item" href="#">PDF</a></li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem"><a class="dropdown-item" href="#">EXCEL</a></li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem"><a class="dropdown-item" href="#">TEXT</a></li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem"><a class="dropdown-item" href="#">WORD</a></li>
        </ul>
    </div> -->
</div>
<hr/>
<app-export></app-export>
<hr/>
<app-search></app-search>
