<hr/>
<md-toolbar color="primary">This week: &nbsp;<textarea class="right-align" placeholder="25"></textarea></md-toolbar>
<md-toolbar color="primary">This month: &nbsp;<textarea class="right-align" placeholder="25"></textarea></md-toolbar>
<md-toolbar color="primary">Over/Under Time: &nbsp;<textarea class="right-align" placeholder="25"></textarea></md-toolbar>
<hr/>
<md-toolbar color="primary">Taken vacations Day: &nbsp;<textarea placeholder="25"></textarea></md-toolbar>
<md-toolbar color="primary">Rest of vacations Day: &nbsp;<textarea placeholder="25"></textarea></md-toolbar>
<div (click)="$event.preventDefault()">
    <hr/>
    <button type="button" class="btn-sidebar btn btn-primary" (click)="toggleDropdown($event)">SEARCH&nbsp;
    </button>
    <hr/>
    <!-- Single button with keyboard nav -->
    <div class="btn-group " dropdown keyboardNav="true">
        <button id="simple-btn-keyboard-nav" type="button" class="btn-sidebar btn btn-primary" dropdownToggle>
            Export&nbsp;<span class="caret"></span>
        </button>
        <ul class="dropdown-menu" dropdownMenu role="menu" aria-labelledby="simple-btn-keyboard-nav">
            <li role="menuitem"><a class="dropdown-item" href="#">PDF</a></li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem"><a class="dropdown-item" href="#">EXCEL</a></li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem"><a class="dropdown-item" href="#">TEXT</a></li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem"><a class="dropdown-item" href="#">WORD</a></li>
        </ul>
    </div>
    <hr/>
</div>