.dropdown,
.dropdown-menu {
    width: 100%;
}

.caret {
    margin-top: 7.5px;
    float: right;
}

.right-align {
    float: right;
}

.text-align-center {
    text-align: center;
}

.tab-pane {
    text-align: center;
    span {
        padding-top: 10px;
    }
}

.result {
    background-color: white;
}
