<!-- control modal from parent component -->
<button type="button" class="btn btn-primary btn-sidebar" (click)="showChildModal()">EXPORT</button>
<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <!-- modal-sm -->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                <span>EXPORT</span>
                </h4>
            </div>
            <div class="modal-body">
                <p class="btn-radio">
                    <md-radio-group>
                        <md-radio-button checked="true" value="excel">EXCEL</md-radio-button>
                        <md-radio-button value="pdf">PDF</md-radio-button>
                        <md-radio-button value="csv">CSV</md-radio-button>
                    </md-radio-group>
                </p>
                <div (click)="$event.preventDefault()">
                    <tabset [justified]="true">
                        <tab heading="From">
                            <tabset [vertical]="true" type="pills">
                                <app-datepicker></app-datepicker>
                            </tabset>
                        </tab>
                        <tab heading="To">
                            <tabset [vertical]="true" type="pills">
                                <app-datepicker></app-datepicker>
                            </tabset>
                        </tab>
                    </tabset>
                </div>
                <p class="btn-footer">
                    <button md-button>SEND EMAIL</button>
                    <button md-button (click)="hideChildModal()">CANCEL</button>
                </p>
            </div>
        </div>
    </div>
</div>
