<h1 md-dialog-title>{{ title }}</h1>
<div md-dialog-content class="hide-dialog-scrollbar">
    <form name="form" (ngSubmit)="f.form.valid && ok()" #f="ngForm" novalidate>
        <table>
            <tr>
                <td>
                    <label>
                        Password length should be greater than 7.
                    </label>
                    <br>
                    <div class="form-group">
                        <md-input-container>
                            <input mdInput type="password" placeholder="Current Password" class="form-control" name="currentPassword" [(ngModel)]="model.currentPassword" #currentPassword="ngModel" required>
                            <div *ngIf="f.submitted && currentPassword.invalid" class="invalid-feedback">
                                <div *ngIf="currentPassword.errors.required">Please enter your current password</div>
                            </div>
                        </md-input-container>
                    </div>
                </td>
            </tr>
            <br>
            <tr>
                <td>
                    <div class="form-group">
                        <md-input-container>
                            <input mdInput type="password" placeholder="New Password" class="form-control" name="newPassword" [(ngModel)]="model.newPassword" #newPassword="ngModel" required minlength="7">
                            <div *ngIf="f.submitted && newPassword.invalid" class="invalid-feedback">
                                <div *ngIf="newPassword.errors.required">Please enter a new password</div>
                                <div *ngIf="newPassword.errors.minlength">Password must be at least 7 characters</div>
                            </div>
                        </md-input-container>
                    </div>
                </td>
            </tr>
            <br>
            <tr>
                <td>
                    <div class="form-group">
                        <md-input-container>
                            <input mdInput type="password" placeholder="Confirm Password" class="form-control" name="confirmPassword" [(ngModel)]="model.confirmPassword" #confirmPassword="ngModel" required>
                            <div *ngIf="f.submitted && currentPassword.invalid" class="invalid-feedback">
                                <div *ngIf="currentPassword.errors.required">Please confirm your new password</div>
                            </div>
                        </md-input-container>
                    </div>
                </td>
            </tr>
        </table>
        <label>After changing your password, you will be redirected to Login !</label>
        <br>
        <div class="form-group">
            <button md-button click>OK</button>
            <button md-button (click)="dialogRef.close()">Cancel</button>
        </div>
    </form>
</div>
