<div class="layout-column">
  <md-toolbar color="primary">
    <span>Today</span>
    <span class="flex"></span>
    <span>
      <button md-raised-button color="primary">SEARCH</button>
      <button md-raised-button color="primary">EXPORT</button><!-- <button md-raised-button color="primary" (click)="showSearchDialog()">SEARCH</button>
      <button md-raised-button color="primary" (click)="showExportDialog()">EXPORT</button> -->
    </span>
  </md-toolbar>

  <div class="layout-row flex">
    <md-card class="flex">
      <app-entries></app-entries>
    </md-card>

    <md-card class="tt-sidebar">
      <app-sidebar></app-sidebar>
    </md-card>
  </div>
</div>