<div class="layout-column">
  <md-toolbar color="primary">
    <span id="today">Today - {{currentDate}}</span>
    <span class="flex"></span>
    <span>
      <button md-raised-button color="primary" (click)="openCreateDialog()">CREATE</button>
      <!-- <button md-raised-button color="primary">SEARCH</button> -->
      <button md-raised-button color="primary" (click)="openEditDialog()">EDIT</button>
      <button md-raised-button color="primary" (click)="openExportDialog()">EXPORT</button>
    </span>
  </md-toolbar>
  <div class="ftt-content">
    <md-card>
      <app-entries></app-entries>
    </md-card>
  </div>
  <div class="ftt-sidebar">
    <md-card>
      <app-sidebar></app-sidebar>
    </md-card>
  </div>
</div>
<div class="layout-row footer">
  <img src="assets/Logo.png">
</div>