/* You can add global styles to this file, and also import other style files */

// Material Design theme
@import '~@angular/material/core/theming/prebuilt/indigo-pink.css';
@import 'flexbox.scss';
html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.ftt-right {
    text-align: right;
}

// h1 {
//     color: #369;
//     font-family: Arial, Helvetica, sans-serif;
//     font-size: 250%;
// }
// h2,
// h3 {
//     color: #444;
//     font-family: Arial, Helvetica, sans-serif;
//     font-weight: lighter;
// }
// .inputdemoIcons {
//     .right-icon {
//     position: absolute;
//     top: 4px;
//     right: 2px;
//     left: auto;
//     margin-top: 0;
//     }
// }
// .inputdemoIcons .inputIconDemo {
//     min-height: 48px;
// }
// .inputdemoIcons md-input-container:not(.md-input-invalid) > md-icon.email {
//     color: green;
// }
// .inputdemoIcons md-input-container:not(.md-input-invalid) > md-icon.name {
//     color: dodgerblue;
// }
// .inputdemoIcons md-input-container.md-input-invalid > md-icon.email,
// .inputdemoIcons md-input-container.md-input-invalid > md-icon.name {
//     color: red;
// }
.btn-sidebar {
    width: 100%;
}

.modal-header {
    background-color: #337ab7;
    text-align: center;
}

.md-radio-outer-circle {
    border: 0px !important;
}

.btn-footer {
    text-align: right;
}

.btn-radio {
    text-align: center;
}

pre.card.card-block.card-header {
    padding: 0px !important;
    text-align: center;
}

daypicker table {
    margin-left: 25% !important;
}

.modal-dialog {
    margin: 175px auto !important;
}

.app-input-section {
    text-align: center;
    width: 50%;
    margin-top: 30%;
    margin-left: 25%;
}

div.mat-input-underline {
    margin-top: 15px;
}

.mat-input-placeholder-wrapper {
    padding-top: 75% !important;
}
