<h1 md-dialog-title>{{ title }}</h1>
<label>
  <em>Put start time and End time OR work time</em>
  <br>
  <em>Date format: dd.mm.2yyy</em>
  <br>
  <em>Hour format: hh:mm</em>
</label>
 
<div md-dialog-content class="hide-dialog-scrollbar">
  <form name="form" (ngSubmit)="f.form.valid && ok()" #f="ngForm" novalidate>
  <br>
    <table>
      <tr>
        <td>
          <div class="form-group">
            <md-input-container>
              <input mdInput placeholder="Description" type="text" class="form-control" name="description" [(ngModel)]="model.description" #description="ngModel" required>
              <div *ngIf="f.submitted && description.invalid" class="invalid-feedback">
                <div *ngIf="description.errors.required">Please enter a description</div>
              </div>              
            </md-input-container>
          </div>
        </td>
        <td>
          <div class="form-group">
            <md-input-container>
              <input mdInput type="text" name="place" placeholder="Place" [(ngModel)]="model.place" #place="ngModel">
            </md-input-container>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="form-group">
            <md-select  [(ngModel)]='selectedProject' placeholder="Project" name="project">
              <md-option *ngFor="let project of projects" [value]='project.id'> {{ project.projectName }} </md-option>
            </md-select>
          </div>
        </td>
        <td>
          <div class="form-group">
            <md-select #client [(ngModel)]='selectedClient' placeholder="Client" name="client">
              <md-option *ngFor="let client of clients" [value]='client.id'> {{ client.clientName }} </md-option>
            </md-select>
          </div>
        </td>
        <td>
          <div class="form-group">
            <md-select #task [(ngModel)]='selectedTask' placeholder="Task" name="task">
              <md-option *ngFor="let task of tasks" [value]='task.id' required> {{ task.taskDescription }}</md-option>
              <div *ngIf="f.submitted && task.invalid" class="invalid-feedback">
                  <div *ngIf="task.errors.required">Please enter a start date</div>
                </div>
            </md-select>
          </div>
        </td>
      </tr>
      <br>
      <tr>
        <td>
          <div class="form-group">
              <md-input-container>
                <input mdInput placeholder="Start Date" class="form-control" name="startdate" [(ngModel)]="model.startdate" [mdDatepicker]="fromDate" #startdate="ngModel" required>
                <button mdSuffix [mdDatepickerToggle]="fromDate"></button>
                <md-datepicker #fromDate></md-datepicker>
                <div *ngIf="f.submitted && startdate.invalid" class="invalid-feedback">
                  <div *ngIf="startdate.errors.required">Please enter a start date</div>
                </div>
              </md-input-container>
          </div>
        </td>
        <td>          
          <div class="form-group">
            <md-input-container>
              <input mdInput type="text" placeholder="Start Time" class="form-control" name="starttime" [(ngModel)]="model.startTime" #starttime="ngModel" required="model.worktime== ''">
            </md-input-container>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="form-group">
            <md-input-container>
              <input mdInput placeholder="End Date" class="form-control" name="enddate" [(ngModel)]="model.enddate" [mdDatepicker]="toDate" #enddate="ngModel" required>
              <button mdSuffix [mdDatepickerToggle]="toDate"></button>
              <md-datepicker #toDate></md-datepicker>
              <div *ngIf="f.submitted && enddate.invalid" class="invalid-feedback">
                <div *ngIf="enddate.errors.required">Please enter an end date</div>
              </div>
            </md-input-container>
          </div>
        </td>
        <td>
          <div class="form-group">
            <md-input-container>
              <input mdInput type="text" placeholder="End time" class="form-control" name="endtime" [(ngModel)]="model.endTime" #endtime="ngModel">
            </md-input-container>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="form-group">
            <md-input-container>
              <input mdInput type="text" placeholder="Travel time" class="form-control" name="traveltime" [(ngModel)]="model.traveltime" #username="ngModel">
            </md-input-container>
          </div>
        </td>
        <td>
          <div class="form-group">
            <md-input-container>
              <input mdInput type="text" placeholder="Work time" class="form-control" name="worktime" [(ngModel)]="model.worktime" #worktime="ngModel">
            </md-input-container>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <md-checkbox #billable="ngModel" name="isBillable" [(ngModel)]="model.isBillable"> is Billable</md-checkbox>
        </td>
      </tr>
    </table>
    <div class="form-group">
      <button md-button name="click" click>OK</button>
      <button md-button (click)="dialogRef.close()">Cancel</button>
    </div>
  </form>
</div>
