<h1 md-dialog-title>{{ title }}</h1>
<div md-dialog-content>
    <table>
        <tr>
            <td>
                <md-input #description placeholder="Description"></md-input>
            </td>
        </tr>
        <br>
        <tr>
            <td>Project:</td>
            <td>
                <select #project (change)="projectDropdown(project.value)">
                    <option *ngFor="let project of projects" [value]='project.id'>{{ project.projectName }}</option>
                </select>
            </td>
        </tr>
        <br>
        <tr>
            <td>Task:</td>
            <td>
                <select #task (change)="taskDropdown(task.value)">
                    <option *ngFor="let task of tasks" [value]="task.id">{{ task.taskDescription }}</option>
                </select>
            </td>
        </tr>
        <br>
        <tr>
            <td>
                <md-input placeholder="Date" type="date" #date></md-input>
            </td>
        </tr>
        <br>
        <tr>
            <td>
                <md-input placeholder="Start Time" #startTime></md-input>
            </td>
            <td>&nbsp;</td>
            <td>
                <md-input placeholder="End Time" #endTime></md-input>
            </td>
        </tr>
    </table>
    <br>
</div>
<div md-dialog-actions>
    <button type="button" md-button (click)="getNewDescription(description.value);getNewStartDateTime(date.value,startTime.value);getNewEndDateTime(date.value,endTime.value);createEntry();dialogRef.close(true)">OK</button>
    <!-- <button type="button" md-button (click)="createEntry();dialogRef.close(true)">OK</button> -->
    <button type="button" md-button (click)="dialogRef.close()">Cancel</button>
</div>
